@import "colors";

@mixin bordered-container($bg-color){
    padding: 0.5em;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    background-color: $bg-color;
} 

@mixin bordered-container-button($bg-color) {
    @include bordered-container($bg-color);

    border-right-width: 0.4vw; 
    border-bottom-width: 0.4vw;
}

@mixin bordered-link($bg-color){
    @include bordered-container-button($bg-color);

    text-decoration: none;

    &:hover{
        cursor: pointer;   
        background-color: $color-secondary;
        border-color: $bg-color;
        color: $color-primary;
    }
}

.bordered-heading{
    @include bordered-container($color-tertiary);
    border-left-width: 0.4vw;
}

.bordered-link-primary-bg{
    @include bordered-link($color-primary);
}

.bordered-link-tertiary-bg{
    @include bordered-link($color-tertiary);
}

.bordered-link-disabled-tertiary-bg{
    @include bordered-container-button(lightgreen);
}
