@use "base/colors"; 
@use "base/fonts";
@use "base/grid";
@use "base/index-grid";

@use "utils/theme-utils";
@use "theme/themes";

@import "base/reset";

@import "components/sidebar";
@import "components/main-nav";
@import "components/entry"; 
@import "components/bottom-nav";
@import "components/article";
@import "components/bordered-container";

@import "components/header/header";

@import "elements/lists"; 
@import "elements/headings"; 

/*Global rules*/  
html{
    height: 100%; 
 
    @include fonts.default-font;
    
    box-sizing: border-box;
}

/*This allows all elements to inherit the alternative box model declared in the html rule*/
*, *::before, *::after {
    box-sizing: inherit;
}

.root{
    padding: 2.5vw 2.5vw 50px 2.5vw;
    position: relative;
    min-height: 100vh;

    //@include themes.text-color();
    //@include themes.background-color(primary);
}

.container{
    @include grid.layout;
}

/*Element rules*/
a{
    line-height: normal;
}

body{
    max-width: 100vw;
}

header{
    @include index-grid.placement-header;
    min-width: 250px;
}

main{
    @include index-grid.placement-main;
    padding-right: 0.4vw;
}

footer{
    position: absolute;
    bottom: 2.5vw;
    width: fit-content;
    font-size: 0.45em;
    left: 50%;
    transform: translateX(-50%);
}

button{
    cursor: pointer;
}

hr{
    margin: 0.5em 0 1em 0;
    height: 0.05em;
    border: none;
}

//Themes
@include theme-utils.themify(light-theme, themes.$light-theme);
@include theme-utils.themify(dark-theme, themes.$dark-theme);
@include theme-utils.themify(corroded-theme, themes.$corroded-theme);
@include theme-utils.themify(arctic-theme, themes.$arctic-theme);
@include theme-utils.themify(tropical-theme, themes.$tropical-theme);
@include theme-utils.themify(neptune-theme, themes.$neptune-theme);
@include theme-utils.themify(rust-theme, themes.$rust-theme);
@include theme-utils.themify(ugly-theme, themes.$ugly-theme);
@include theme-utils.themify(intern-theme, themes.$intern-theme);