@use "sass:list";

@function general-template($bg-color, $color, $border-color){
    @return(
        bg-color: $bg-color,
        color: $color,
        border-color: $border-color
    );
}

@function generate-theme-map($color-list){
    @return(
        "root": (
            general-template(list.nth($color-list, 1), list.nth($color-list, 2), none)
        ),
        "bottom-nav": (
            general-template(list.nth($color-list, 3), inherit, inherit)
        ),
        "theme-menu-option": (
            general-template(list.nth($color-list, 3), list.nth($color-list, 2), inherit)
        ),
        "bordered-heading": (
            general-template(list.nth($color-list, 3), inherit, list.nth($color-list, 2))
        ),
        "bordered-link": (
            general-template(list.nth($color-list, 3), list.nth($color-list, 2), inherit)
        ),
        "bordered-link-tertiary-bg": (
            general-template(list.nth($color-list, 1), list.nth($color-list, 2), inherit)
        ),
        "disabled-link": (
            general-template(list.nth($color-list, 2), list.nth($color-list, 1), inherit)
        ),
        "theme-menu-options": (
            general-template(list.nth($color-list, 3), inherit, inherit)
        ),
        "hr": (
            general-template(list.nth($color-list, 2), inherit, inherit)
        )
    );
}