.article-title{
    width: fit-content;
    margin-top: 2em;
}

.article-content{
    margin-left: 0.7vw;
}

.article-icon{
    margin-right: 0.25em;
}

.subsection {
    font-weight: bold;
}

ul.article-list{
    margin-top: 0;
}