@use "../base/colors";
@use "../elements/links";

@mixin bordered-container{
    padding: 0.5em;
    border: 1px solid blue;
} 

.bordered-link{
    @include bordered-container;
    @include links.undecorated-link;

    &:hover{
        cursor: pointer;   
    }
}

.bordered-link[aria-disabled="true"]{
    &:hover{
        cursor: default;
    }
}

.bordered-heading{
    @include bordered-container;
}
