@use "../base/colors";
@use "../elements/links";

@mixin bordered-container($bg-color){
    padding: 0.5em;
    border: 1px solid colors.$color-secondary;
    color: colors.$color-secondary;
    background-color: $bg-color;
} 

@mixin bordered-container-button($bg-color) {
    @include bordered-container($bg-color);  

    border-right-width: 0.4vw; 
    border-bottom-width: 0.4vw;
}

@mixin bordered-link($bg-color){
    @include bordered-container-button($bg-color);
    @include links.undecorated-link(colors.$color-secondary);

    &:hover{
        cursor: pointer;   
        background-color: colors.$color-secondary;
        border-color: $bg-color;
        color: colors.$color-primary;
    }
}

.bordered-heading{
    @include bordered-container(colors.$color-tertiary);
    border-left-width: 0.4vw;
}

.bordered-link-primary-bg{
    @include bordered-link(colors.$color-primary);
}

.bordered-link-tertiary-bg{
    @include bordered-link(colors.$color-tertiary);
}

.bordered-link-disabled-tertiary-bg{
    @include bordered-container-button(lightgreen);
}
