@use "../base/colors";
@use "../elements/links";

.bottom-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    z-index: 100;
}

#bottom-nav-expand{
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

#bottom-nav-menu{
    display: none; 
    height: 90vh;
}

#bottom-nav-links{
    margin: 50px;
    margin-bottom: 100px;
}

.bottom-nav-link{
    @include links.undecorated-link();
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    white-space: nowrap;
}

.bottom-nav-link-icon{
    margin-right: 0.25em;
}

#bottom-nav-icon{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

@media only screen and (min-width: 1400px){
    .bottom-nav{
        display: none;
    }
}