/*General*/

.entry{
    margin-bottom: 4vh;
}

.entry-title{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.entry-name{
    font-weight: bold;
    margin-right: 0.4em;
}

span.entry-location{
    flex-grow: 2;
}

p.entry-subtitle{
    display: none;
}

span.entry-period{
    font-weight: bold;
    align-self: flex-end;
    text-align: justify;
}

ul.entry-desc{
    margin-top: 1em;
    text-align: justify;
}

ul.entry-desc > li{
    width: 100%;
}

/*Tablet*/
@media screen and (min-width: 600px){

}


/*Desktop*/
@media screen and (min-width: 768px){
    p.entry-work-role{
        display: contents;
        font-size: 0.7em;
        margin-top: 0;
    }
}