@use "../base/colors";
@use "../base/themes";

#bordered-heading-inner{
    display: flex;

    flex-flow: row wrap;
    justify-content: center;

    height: fit-content;
}

#main-subheading{
    margin: 0.25em 0;
    font-weight: bold;
    text-align: center;
    flex: 0 0 100%; 
}

#theme-menu-button{
    cursor: pointer;
    z-index: 1;
    @include themes.text-color();
}

#theme-menu{
    position: relative;
    display: inline-block;
    margin-left: auto;
}

#theme-menu-options{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 150px;
    width: fit-content;
    white-space: nowrap;
    right: 0;
    font-size: 0.8em;
    z-index: 1;
}

.theme-menu-option{
    width: 100%;
    @include themes.background-color(tertiary, hover);
    @include themes.text-color(hover);
    &:hover{
        cursor: pointer;
    }
}

.theme-menu-option-inner{
    padding: 0.5em;
}

.theme-menu-option-preview{
    display: inline-flex;
    flex-flow: row nowrap;
    height: 12px;
    width: 12px;
    border: 1px solid black;
}

.theme-menu-option-preview-section{
    width: 4px;
}

.light-preview{
    @include themes.theme-preview(light, colors.$color-primary, colors.$color-secondary, colors.$color-tertiary);
}

.dark-preview{
    @include themes.theme-preview(dark, colors.$color-primary-dark, colors.$color-secondary-dark, colors.$color-tertiary-dark);
}

.corroded-preview{
    @include themes.theme-preview(corroded, colors.$color-primary-corroded, colors.$color-secondary-corroded, colors.$color-tertiary-corroded);
}

.arctic-preview{
    @include themes.theme-preview(arctic, colors.$color-primary-arctic, colors.$color-secondary-arctic, colors.$color-tertiary-arctic);
}

.tropical-preview{
    @include themes.theme-preview(tropical, colors.$color-primary-tropical, colors.$color-secondary-tropical, colors.$color-tertiary-tropical);
}

.neptune-preview{
    @include themes.theme-preview(neptune, colors.$color-primary-neptune, colors.$color-secondary-neptune, colors.$color-tertiary-neptune);
}

.rust-preview{
    @include themes.theme-preview(rust, colors.$color-primary-rust, colors.$color-secondary-rust, colors.$color-tertiary-rust);
}