.section-title{
    width: fit-content;
    margin-top: 2em;
}

.section-content{
    margin-left: 0.7vw;
}

.section-icon{
    margin-right: 0.25em;
}

.subsection {
    font-weight: bold;
}

ul.section-list{
    margin-top: 0;
}