@use "base/index-grid";
@use "colors";
@use "elements/links";


#sidebar{
    display: none;
}

#sidebar-inner{
    position: sticky;
    top: 2.5vw;
    min-width: 100%;
} 

#sidebar-nav {
    margin: 0;
}

#sidebar-title{
    font-weight: bold;
    font-size: 1.8vw;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.sidebar-link{
    display: block;
    
    width: 100%;
    margin: 0.2vw 0;

    font-size: 0.9vw;
    @include links.undecorated-link(colors.$color-secondary);
}

#headshot{
    width: 100%;
    border-radius: 3px; 
}

/*Desktop*/
@media only screen and (min-width: 768px){
    #sidebar{
        display: flex;
        flex-direction: column;
    
        // Media queries in index-grid mean that the sidebar won't show on mobile
        @include index-grid.placement-sidebar;
    }
}
