// Default Light theme
$color-primary: #f1f1f1;
$color-secondary: #181818;
$color-tertiary: darken($color-primary, 10%);

// Dark theme
$color-primary-dark: #181818;
$color-secondary-dark: #f1f1f1;
$color-tertiary-dark: lighten($color-primary-dark, 5%);

// Corroded theme
$color-primary-corroded: #72644F;
$color-secondary-corroded: #ffffff;
$color-tertiary-corroded: #8a8b4f;

// Arctic
$color-primary-arctic: #8cc2ff;
$color-secondary-arctic: #262c38;
$color-tertiary-arctic: #e3f6ff;

// Tropical
$color-primary-tropical: #23b665;
$color-secondary-tropical: #ffd3e0;
$color-tertiary-tropical: #f52664;

// Neptune
$color-primary-neptune: #021146;
$color-secondary-neptune: #ffd8a6;
$color-tertiary-neptune: #2251fc;

// Rust
$color-primary-rust: #4d0000;
$color-secondary-rust: #fae5e5;
$color-tertiary-rust: #be4f4f;