@use "../base/colors";

@mixin themify($theme, $property, $color, $color-hover, $state){
  .#{$theme} & {
    #{$property}: $color;

    @if ($state == hover){
      &:hover{
        #{$property}: $color-hover;
      }
    }
  }
}

@mixin theme-preview($theme-name, $theme-color-primary, $theme-color-secondary, $theme-color-tertiary){
  ##{$theme-name}-sec-1{
      background-color: $theme-color-primary;
  }

  ##{$theme-name}-sec-2{
    background-color: $theme-color-tertiary;
  }

  ##{$theme-name}-sec-3{
    background-color: $theme-color-secondary;
  }
}

@mixin text-color($state: none) {
  @include themify(light-theme, color, colors.$color-secondary, colors.$color-primary, $state);
  @include themify(dark-theme, color, colors.$color-secondary-dark, colors.$color-primary-dark, $state);
}

@mixin background-color($color-type: primary, $state: none) {
  @if($color-type == primary){
    @include themify(light-theme, background-color, colors.$color-primary, colors.$color-secondary, $state);
    @include themify(dark-theme, background-color, colors.$color-primary-dark, colors.$color-secondary-dark, $state);
  }
  @else if($color-type == tertiary){
    @include themify(light-theme, background-color, colors.$color-tertiary, colors.$color-secondary, $state);
    @include themify(dark-theme, background-color, colors.$color-tertiary-dark, colors.$color-secondary-dark, $state);
  }
}

@mixin border-color($color-type: primary, $state: none) {
  @if($color-type == primary){
    @include themify(light-theme, border-color, colors.$color-secondary, colors.$color-primary, $state);
    @include themify(dark-theme, border-color, colors.$color-secondary-dark, colors.$color-primary-dark, $state);
  }
  @else if($color-type == tertiary){
    @include themify(light-theme, border-color, colors.$color-secondary, colors.$color-tertiary, $state);
    @include themify(dark-theme, border-color, colors.$color-secondary-dark, colors.$color-tertiary-dark, $state);
  } 
}
