@use "../../base/colors";
@use "../../utils/theme-utils";
@import "theme-menu";
@import "admin-menu";

#bordered-heading-inner{
    display: flex;

    flex-flow: row wrap;
    justify-content: center;

    height: fit-content;
}

#main-subheading{
    margin: 0.25em 0;
    font-weight: bold;
    text-align: center;
    flex: 0 0 100%; 
}

#menu-container{
    display: flex;

    flex-flow: row nowrap;
    align-items: flex-end;

    margin-left: auto;

    button {
        color: inherit;
        margin-left: 0.5em;
    }
}

