#theme-menu{
    position: relative;
    display: inline-block;
}

#theme-menu-options{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 150px;
    width: fit-content;
    white-space: nowrap;
    right: 0;
    font-size: 0.8em;
    z-index: 1;
}

.theme-menu-option{
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    z-index: 1;
}

.theme-menu-option-inner{
    padding: 0.5em;
}

.theme-menu-option-preview{
    display: inline-flex;
    flex-flow: row nowrap;
    height: 12px;
    width: 12px;
    border: 1px solid black;
}

.theme-menu-option-preview-section{
    width: 4px;
}

.light-preview{
    @include theme-utils.theme-preview(light, colors.$light-theme-colors);
}

.dark-preview{
    @include theme-utils.theme-preview(dark, colors.$dark-theme-colors);
}

.corroded-preview{
    @include theme-utils.theme-preview(corroded, colors.$corroded-theme-colors);
}

.arctic-preview{
    @include theme-utils.theme-preview(arctic, colors.$arctic-theme-colors);
}

.tropical-preview{
    @include theme-utils.theme-preview(tropical, colors.$tropical-theme-colors);
}

.neptune-preview{
    @include theme-utils.theme-preview(neptune, colors.$neptune-theme-colors);
}

.rust-preview{
    @include theme-utils.theme-preview(rust, colors.$rust-theme-colors);
}

.ugly-preview{
    @include theme-utils.theme-preview(ugly, colors.$ugly-theme-colors);
}

.intern-preview{
    @include theme-utils.theme-preview(intern, colors.$intern-theme-colors);
}