/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  font: inherit;
  font-size: 100%;
}

#sidebar {
  display: none;
}

#sidebar-inner {
  position: sticky;
  top: 2.5vw;
  min-width: 100%;
}

#sidebar-nav {
  margin: 0;
}

#sidebar-title {
  font-weight: bold;
  font-size: 1.8vw;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.sidebar-link {
  display: block;
  width: 100%;
  margin: 0.2vw 0;
  font-size: 0.9vw;
  color: #181818;
  text-decoration: none;
}

#headshot {
  width: 100%;
  border-radius: 3px;
}

/*Desktop*/
@media only screen and (min-width: 768px) {
  #sidebar {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  #sidebar {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
#main-nav-links {
  font-size: 0.8em;
  flex: 0 0 100%;
}

#main-nav {
  margin: 1em 0;
}

/*General*/
.entry {
  margin-bottom: 4vh;
}

.entry-title {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.entry-name {
  font-weight: bold;
  margin-right: 0.4em;
}

span.entry-location {
  flex-grow: 2;
}

p.entry-work-role {
  display: none;
}

span.entry-time-period {
  font-weight: bold;
  align-self: flex-end;
  text-align: justify;
}

ul.entry-desc {
  margin-top: 1em;
  text-align: justify;
}

ul.entry-desc > li {
  width: 100%;
}

/*Tablet*/
/*Desktop*/
@media screen and (min-width: 768px) {
  p.entry-work-role {
    display: contents;
    font-size: 0.7em;
    margin-top: 0;
  }
}
.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: #d8d8d8;
  z-index: 100;
}

#bottom-nav-expand {
  position: absolute;
  color: #181818;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

#bottom-nav-menu {
  display: none;
  height: 90vh;
}

#bottom-nav-links {
  margin: 50px;
  margin-bottom: 100px;
}

.bottom-nav-link {
  text-decoration: none;
  color: #181818;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  white-space: nowrap;
}

.bottom-nav-link-icon {
  margin-right: 0.25em;
}

#bottom-nav-icon {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}
#bordered-heading-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: fit-content;
}

#main-subheading {
  margin: 0.25em 0;
  font-weight: bold;
  text-align: center;
  flex: 0 0 100%;
}

#theme-menu-button {
  cursor: pointer;
  z-index: 1;
}
.light-theme #theme-menu-button {
  color: #181818;
}
.dark-theme #theme-menu-button {
  color: #f1f1f1;
}
.corroded-theme #theme-menu-button {
  color: #ffffff;
}
.arctic-theme #theme-menu-button {
  color: #262c38;
}
.tropical-theme #theme-menu-button {
  color: #ffd3e0;
}
.neptune-theme #theme-menu-button {
  color: #ffd8a6;
}
.rust-theme #theme-menu-button {
  color: #fae5e5;
}

#theme-menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

#theme-menu-options {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  width: fit-content;
  white-space: nowrap;
  right: 0;
  font-size: 0.8em;
  z-index: 1;
}

.theme-menu-option {
  width: 100%;
}
.light-theme .theme-menu-option {
  background-color: #d8d8d8;
}
.light-theme .theme-menu-option:hover {
  background-color: #181818;
}
.dark-theme .theme-menu-option {
  background-color: #252525;
}
.dark-theme .theme-menu-option:hover {
  background-color: #f1f1f1;
}
.corroded-theme .theme-menu-option {
  background-color: #8a8b4f;
}
.corroded-theme .theme-menu-option:hover {
  background-color: #ffffff;
}
.arctic-theme .theme-menu-option {
  background-color: #e3f6ff;
}
.arctic-theme .theme-menu-option:hover {
  background-color: #262c38;
}
.tropical-theme .theme-menu-option {
  background-color: #f52664;
}
.tropical-theme .theme-menu-option:hover {
  background-color: #ffd3e0;
}
.neptune-theme .theme-menu-option {
  background-color: #2251fc;
}
.neptune-theme .theme-menu-option:hover {
  background-color: #ffd8a6;
}
.rust-theme .theme-menu-option {
  background-color: #be4f4f;
}
.rust-theme .theme-menu-option:hover {
  background-color: #fae5e5;
}
.light-theme .theme-menu-option {
  color: #181818;
}
.light-theme .theme-menu-option:hover {
  color: #f1f1f1;
}
.dark-theme .theme-menu-option {
  color: #f1f1f1;
}
.dark-theme .theme-menu-option:hover {
  color: #181818;
}
.corroded-theme .theme-menu-option {
  color: #ffffff;
}
.corroded-theme .theme-menu-option:hover {
  color: #72644F;
}
.arctic-theme .theme-menu-option {
  color: #262c38;
}
.arctic-theme .theme-menu-option:hover {
  color: #8cc2ff;
}
.tropical-theme .theme-menu-option {
  color: #ffd3e0;
}
.tropical-theme .theme-menu-option:hover {
  color: #23b665;
}
.neptune-theme .theme-menu-option {
  color: #ffd8a6;
}
.neptune-theme .theme-menu-option:hover {
  color: #021146;
}
.rust-theme .theme-menu-option {
  color: #fae5e5;
}
.rust-theme .theme-menu-option:hover {
  color: #4d0000;
}
.theme-menu-option:hover {
  cursor: pointer;
}

.theme-menu-option-inner {
  padding: 0.5em;
}

.theme-menu-option-preview {
  display: inline-flex;
  flex-flow: row nowrap;
  height: 12px;
  width: 12px;
  border: 1px solid black;
}

.theme-menu-option-preview-section {
  width: 4px;
}

.light-preview #light-sec-1 {
  background-color: #f1f1f1;
}
.light-preview #light-sec-2 {
  background-color: #d8d8d8;
}
.light-preview #light-sec-3 {
  background-color: #181818;
}

.dark-preview #dark-sec-1 {
  background-color: #181818;
}
.dark-preview #dark-sec-2 {
  background-color: #252525;
}
.dark-preview #dark-sec-3 {
  background-color: #f1f1f1;
}

.corroded-preview #corroded-sec-1 {
  background-color: #72644F;
}
.corroded-preview #corroded-sec-2 {
  background-color: #8a8b4f;
}
.corroded-preview #corroded-sec-3 {
  background-color: #ffffff;
}

.arctic-preview #arctic-sec-1 {
  background-color: #8cc2ff;
}
.arctic-preview #arctic-sec-2 {
  background-color: #e3f6ff;
}
.arctic-preview #arctic-sec-3 {
  background-color: #262c38;
}

.tropical-preview #tropical-sec-1 {
  background-color: #23b665;
}
.tropical-preview #tropical-sec-2 {
  background-color: #f52664;
}
.tropical-preview #tropical-sec-3 {
  background-color: #ffd3e0;
}

.neptune-preview #neptune-sec-1 {
  background-color: #021146;
}
.neptune-preview #neptune-sec-2 {
  background-color: #2251fc;
}
.neptune-preview #neptune-sec-3 {
  background-color: #ffd8a6;
}

.rust-preview #rust-sec-1 {
  background-color: #4d0000;
}
.rust-preview #rust-sec-2 {
  background-color: #be4f4f;
}
.rust-preview #rust-sec-3 {
  background-color: #fae5e5;
}

.section-title {
  width: fit-content;
  margin-top: 2em;
}

.section-content {
  margin-left: 0.7vw;
}

.section-icon {
  margin-right: 0.25em;
}

.subsection {
  font-weight: bold;
}

ul.section-list {
  margin-top: 0;
}

.bordered-heading {
  padding: 0.5em;
  border: 1px solid blue;
  border-left-width: 0.4vw;
}
.light-theme .bordered-heading {
  color: #181818;
}
.dark-theme .bordered-heading {
  color: #f1f1f1;
}
.corroded-theme .bordered-heading {
  color: #ffffff;
}
.arctic-theme .bordered-heading {
  color: #262c38;
}
.tropical-theme .bordered-heading {
  color: #ffd3e0;
}
.neptune-theme .bordered-heading {
  color: #ffd8a6;
}
.rust-theme .bordered-heading {
  color: #fae5e5;
}
.light-theme .bordered-heading {
  background-color: #d8d8d8;
}
.dark-theme .bordered-heading {
  background-color: #252525;
}
.corroded-theme .bordered-heading {
  background-color: #8a8b4f;
}
.arctic-theme .bordered-heading {
  background-color: #e3f6ff;
}
.tropical-theme .bordered-heading {
  background-color: #f52664;
}
.neptune-theme .bordered-heading {
  background-color: #2251fc;
}
.rust-theme .bordered-heading {
  background-color: #be4f4f;
}
.light-theme .bordered-heading {
  border-color: #181818;
}
.dark-theme .bordered-heading {
  border-color: #f1f1f1;
}
.corroded-theme .bordered-heading {
  border-color: #ffffff;
}
.arctic-theme .bordered-heading {
  border-color: #262c38;
}
.tropical-theme .bordered-heading {
  border-color: #ffd3e0;
}
.neptune-theme .bordered-heading {
  border-color: #ffd8a6;
}
.rust-theme .bordered-heading {
  border-color: #fae5e5;
}

.bordered-link-primary-bg {
  padding: 0.5em;
  border: 1px solid blue;
  border-right-width: 0.4vw;
  border-bottom-width: 0.4vw;
  color: #181818;
  text-decoration: none;
}
.light-theme .bordered-link-primary-bg {
  color: #181818;
}
.light-theme .bordered-link-primary-bg:hover {
  color: #f1f1f1;
}
.dark-theme .bordered-link-primary-bg {
  color: #f1f1f1;
}
.dark-theme .bordered-link-primary-bg:hover {
  color: #181818;
}
.corroded-theme .bordered-link-primary-bg {
  color: #ffffff;
}
.corroded-theme .bordered-link-primary-bg:hover {
  color: #72644F;
}
.arctic-theme .bordered-link-primary-bg {
  color: #262c38;
}
.arctic-theme .bordered-link-primary-bg:hover {
  color: #8cc2ff;
}
.tropical-theme .bordered-link-primary-bg {
  color: #ffd3e0;
}
.tropical-theme .bordered-link-primary-bg:hover {
  color: #23b665;
}
.neptune-theme .bordered-link-primary-bg {
  color: #ffd8a6;
}
.neptune-theme .bordered-link-primary-bg:hover {
  color: #021146;
}
.rust-theme .bordered-link-primary-bg {
  color: #fae5e5;
}
.rust-theme .bordered-link-primary-bg:hover {
  color: #4d0000;
}
.light-theme .bordered-link-primary-bg {
  background-color: #f1f1f1;
}
.light-theme .bordered-link-primary-bg:hover {
  background-color: #181818;
}
.dark-theme .bordered-link-primary-bg {
  background-color: #181818;
}
.dark-theme .bordered-link-primary-bg:hover {
  background-color: #f1f1f1;
}
.corroded-theme .bordered-link-primary-bg {
  background-color: #72644F;
}
.corroded-theme .bordered-link-primary-bg:hover {
  background-color: #ffffff;
}
.arctic-theme .bordered-link-primary-bg {
  background-color: #8cc2ff;
}
.arctic-theme .bordered-link-primary-bg:hover {
  background-color: #262c38;
}
.tropical-theme .bordered-link-primary-bg {
  background-color: #23b665;
}
.tropical-theme .bordered-link-primary-bg:hover {
  background-color: #ffd3e0;
}
.neptune-theme .bordered-link-primary-bg {
  background-color: #021146;
}
.neptune-theme .bordered-link-primary-bg:hover {
  background-color: #ffd8a6;
}
.rust-theme .bordered-link-primary-bg {
  background-color: #4d0000;
}
.rust-theme .bordered-link-primary-bg:hover {
  background-color: #fae5e5;
}
.light-theme .bordered-link-primary-bg {
  border-color: #181818;
}
.light-theme .bordered-link-primary-bg:hover {
  border-color: #f1f1f1;
}
.dark-theme .bordered-link-primary-bg {
  border-color: #f1f1f1;
}
.dark-theme .bordered-link-primary-bg:hover {
  border-color: #181818;
}
.corroded-theme .bordered-link-primary-bg {
  border-color: #ffffff;
}
.corroded-theme .bordered-link-primary-bg:hover {
  border-color: #72644F;
}
.arctic-theme .bordered-link-primary-bg {
  border-color: #262c38;
}
.arctic-theme .bordered-link-primary-bg:hover {
  border-color: #8cc2ff;
}
.tropical-theme .bordered-link-primary-bg {
  border-color: #ffd3e0;
}
.tropical-theme .bordered-link-primary-bg:hover {
  border-color: #23b665;
}
.neptune-theme .bordered-link-primary-bg {
  border-color: #ffd8a6;
}
.neptune-theme .bordered-link-primary-bg:hover {
  border-color: #021146;
}
.rust-theme .bordered-link-primary-bg {
  border-color: #fae5e5;
}
.rust-theme .bordered-link-primary-bg:hover {
  border-color: #4d0000;
}
.bordered-link-primary-bg:hover {
  cursor: pointer;
}

.bordered-link-tertiary-bg {
  padding: 0.5em;
  border: 1px solid blue;
  border-right-width: 0.4vw;
  border-bottom-width: 0.4vw;
  color: #181818;
  text-decoration: none;
}
.light-theme .bordered-link-tertiary-bg {
  color: #181818;
}
.light-theme .bordered-link-tertiary-bg:hover {
  color: #f1f1f1;
}
.dark-theme .bordered-link-tertiary-bg {
  color: #f1f1f1;
}
.dark-theme .bordered-link-tertiary-bg:hover {
  color: #181818;
}
.corroded-theme .bordered-link-tertiary-bg {
  color: #ffffff;
}
.corroded-theme .bordered-link-tertiary-bg:hover {
  color: #72644F;
}
.arctic-theme .bordered-link-tertiary-bg {
  color: #262c38;
}
.arctic-theme .bordered-link-tertiary-bg:hover {
  color: #8cc2ff;
}
.tropical-theme .bordered-link-tertiary-bg {
  color: #ffd3e0;
}
.tropical-theme .bordered-link-tertiary-bg:hover {
  color: #23b665;
}
.neptune-theme .bordered-link-tertiary-bg {
  color: #ffd8a6;
}
.neptune-theme .bordered-link-tertiary-bg:hover {
  color: #021146;
}
.rust-theme .bordered-link-tertiary-bg {
  color: #fae5e5;
}
.rust-theme .bordered-link-tertiary-bg:hover {
  color: #4d0000;
}
.light-theme .bordered-link-tertiary-bg {
  background-color: #d8d8d8;
}
.light-theme .bordered-link-tertiary-bg:hover {
  background-color: #181818;
}
.dark-theme .bordered-link-tertiary-bg {
  background-color: #252525;
}
.dark-theme .bordered-link-tertiary-bg:hover {
  background-color: #f1f1f1;
}
.corroded-theme .bordered-link-tertiary-bg {
  background-color: #8a8b4f;
}
.corroded-theme .bordered-link-tertiary-bg:hover {
  background-color: #ffffff;
}
.arctic-theme .bordered-link-tertiary-bg {
  background-color: #e3f6ff;
}
.arctic-theme .bordered-link-tertiary-bg:hover {
  background-color: #262c38;
}
.tropical-theme .bordered-link-tertiary-bg {
  background-color: #f52664;
}
.tropical-theme .bordered-link-tertiary-bg:hover {
  background-color: #ffd3e0;
}
.neptune-theme .bordered-link-tertiary-bg {
  background-color: #2251fc;
}
.neptune-theme .bordered-link-tertiary-bg:hover {
  background-color: #ffd8a6;
}
.rust-theme .bordered-link-tertiary-bg {
  background-color: #be4f4f;
}
.rust-theme .bordered-link-tertiary-bg:hover {
  background-color: #fae5e5;
}
.light-theme .bordered-link-tertiary-bg {
  border-color: #181818;
}
.light-theme .bordered-link-tertiary-bg:hover {
  border-color: #d8d8d8;
}
.dark-theme .bordered-link-tertiary-bg {
  border-color: #f1f1f1;
}
.dark-theme .bordered-link-tertiary-bg:hover {
  border-color: #252525;
}
.corroded-theme .bordered-link-tertiary-bg {
  border-color: #ffffff;
}
.corroded-theme .bordered-link-tertiary-bg:hover {
  border-color: #8a8b4f;
}
.arctic-theme .bordered-link-tertiary-bg {
  border-color: #262c38;
}
.arctic-theme .bordered-link-tertiary-bg:hover {
  border-color: #e3f6ff;
}
.tropical-theme .bordered-link-tertiary-bg {
  border-color: #ffd3e0;
}
.tropical-theme .bordered-link-tertiary-bg:hover {
  border-color: #f52664;
}
.neptune-theme .bordered-link-tertiary-bg {
  border-color: #ffd8a6;
}
.neptune-theme .bordered-link-tertiary-bg:hover {
  border-color: #2251fc;
}
.rust-theme .bordered-link-tertiary-bg {
  border-color: #fae5e5;
}
.rust-theme .bordered-link-tertiary-bg:hover {
  border-color: #be4f4f;
}
.bordered-link-tertiary-bg:hover {
  cursor: pointer;
}

.bordered-link-disabled-tertiary-bg {
  padding: 0.5em;
  border: 1px solid blue;
  border-right-width: 0.4vw;
  border-bottom-width: 0.4vw;
}
.light-theme .bordered-link-disabled-tertiary-bg {
  border-color: #181818;
}
.dark-theme .bordered-link-disabled-tertiary-bg {
  border-color: #f1f1f1;
}
.corroded-theme .bordered-link-disabled-tertiary-bg {
  border-color: #ffffff;
}
.arctic-theme .bordered-link-disabled-tertiary-bg {
  border-color: #262c38;
}
.tropical-theme .bordered-link-disabled-tertiary-bg {
  border-color: #ffd3e0;
}
.neptune-theme .bordered-link-disabled-tertiary-bg {
  border-color: #ffd8a6;
}
.rust-theme .bordered-link-disabled-tertiary-bg {
  border-color: #fae5e5;
}
.light-theme .bordered-link-disabled-tertiary-bg {
  background-color: #f1f1f1;
}
.dark-theme .bordered-link-disabled-tertiary-bg {
  background-color: #181818;
}
.corroded-theme .bordered-link-disabled-tertiary-bg {
  background-color: #72644F;
}
.arctic-theme .bordered-link-disabled-tertiary-bg {
  background-color: #8cc2ff;
}
.tropical-theme .bordered-link-disabled-tertiary-bg {
  background-color: #23b665;
}
.neptune-theme .bordered-link-disabled-tertiary-bg {
  background-color: #021146;
}
.rust-theme .bordered-link-disabled-tertiary-bg {
  background-color: #4d0000;
}

ol, ul {
  margin-left: 40px;
  padding-left: 0;
}

li {
  margin: 0.5em 0;
}

h1 {
  margin: 0.25em 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.35em;
  width: fit-content;
  flex: 0 0 100%;
}

h2 {
  font-weight: bold;
  font-size: 1.85em;
}

h3 {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 1.35em;
}

h4 {
  font-size: 1.15em;
}

/*Global rules*/
html {
  height: 100%;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

/*This allows all elements to inherit the alternative box model declared in the html rule*/
*, *::before, *::after {
  box-sizing: inherit;
}

.root {
  padding: 2.5vw 2.5vw 50px 2.5vw;
  position: relative;
  min-height: 100vh;
}
.light-theme .root {
  color: #181818;
}
.dark-theme .root {
  color: #f1f1f1;
}
.corroded-theme .root {
  color: #ffffff;
}
.arctic-theme .root {
  color: #262c38;
}
.tropical-theme .root {
  color: #ffd3e0;
}
.neptune-theme .root {
  color: #ffd8a6;
}
.rust-theme .root {
  color: #fae5e5;
}
.light-theme .root {
  background-color: #f1f1f1;
}
.dark-theme .root {
  background-color: #181818;
}
.corroded-theme .root {
  background-color: #72644F;
}
.arctic-theme .root {
  background-color: #8cc2ff;
}
.tropical-theme .root {
  background-color: #23b665;
}
.neptune-theme .root {
  background-color: #021146;
}
.rust-theme .root {
  background-color: #4d0000;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 4vw;
}

/*Element rules*/
a {
  line-height: normal;
}

body {
  max-width: 100vw;
}

header {
  grid-column: 1/13;
  grid-row: 1;
}
@media only screen and (min-width: 768px) {
  header {
    grid-column: 3/13;
  }
}

main {
  grid-column: 1/13;
  grid-row: 2;
  padding-right: 0.4vw;
}
@media only screen and (min-width: 768px) {
  main {
    grid-column: 3/13;
  }
}

footer {
  position: absolute;
  bottom: 2.5vw;
  width: fit-content;
  font-size: 0.45em;
  left: 50%;
  transform: translateX(-50%);
}

hr {
  margin: 0.5em 0 1em 0;
  background: none;
}

/*# sourceMappingURL=main.css.map */
