@use "theme-templates";
@use "../base/colors";

$corroded-theme: (
   root: (
       theme-templates.root-template(colors.$corroded-theme-colors)
   ),
   bottom-nav: (
       theme-templates.bottom-nav-template(colors.$corroded-theme-colors)
   ),
   theme-menu-option: (
       theme-templates.theme-menu-option-template(colors.$corroded-theme-colors)
   ),
   bordered-heading: (
       theme-templates.bordered-heading-template(colors.$corroded-theme-colors)
   ),
   bordered-link-primary-bg: (
       theme-templates.bordered-link-template(colors.$corroded-theme-colors, 1)
   ),
   bordered-link-tertiary-bg: (
       theme-templates.bordered-link-template(colors.$corroded-theme-colors, 3)
   ),
   bordered-link-disabled: (
       theme-templates.bordered-link-disabled-template(colors.$corroded-theme-colors)
   ),
   theme-menu-options: (
       theme-templates.theme-menu-options-template(colors.$corroded-theme-colors)
   )
);