@use "sass:list";

@mixin themify($theme-name, $theme-map) {
    .#{$theme-name} {

        // Loop through each of the keys (sections)
        @each $section, $map in $theme-map {
            @if ($section == bordered-link-primary-bg or $section == bordered-link-tertiary-bg) {
                .#{$section} {
                    background-color: map-get($map, bg);
                    border-color: map-get($map, border-color);
                    &:hover{
                        background-color: map-get($map, hover-bg-color);
                        color: map-get($map, hover-color);
                        border-color: map-get($map, hover-border-color);
                    }
                }
            }
            @else if ($section == theme-menu-option){
                .#{$section}{
                    &:hover{
                        background-color: map-get($map, hover-bg-color);
                        color: map-get($map, hover-color);
                    }
                }
            }
            @else if ($section == theme-menu-options){
                #theme-menu-options{
                    background-color: map-get($map, bg);
                }
            }
            @else { 
                .#{$section} {
                    background-color: map-get($map, bg);
                    color: map-get($map, color);
                    border-color: map-get($map, border-color);
                }
            }
        }
    }
}

@mixin theme-preview($theme-name, $color-list){
    ##{$theme-name}-sec-1{
        background-color: list.nth($color-list, 1);
    }
  
    ##{$theme-name}-sec-2{
      background-color: list.nth($color-list, 3);
    }
  
    ##{$theme-name}-sec-3{
      background-color: list.nth($color-list, 2);
    }
}