.bordered-box{
    padding: 0.5em;
    border: 1px solid #181818;
    border-right-width: 0.4vw;
    border-bottom-width: 0.4vw;
}

.bordered-box-heading{
    padding: 0.5em;
    background-color: #d6ffff;
    border: 1px solid #181818;
    border-left-width: 0.7vw;
}

.bordered-link:hover{
    background-color: #181818;
    color: #f1f1f1;
}

.secondary-bg:hover{
    border-right-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}

.tertiary-bg:hover{
    border-right-color: #d6ffff;
    border-bottom-color: #d6ffff;
}

.non-applicable-bordered-link{
    background-color: lightgreen;
}

.bordered-link{
    text-decoration: none;
    color: #181818;
}