/*General*/

.entry{
    padding-left: 0.5em;
}

li{
    margin: 0.5em 0;
}

.entry-title{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.entry-name{
    font-weight: bold;
    margin-right: 0.4em;
}

span.entry-location{
    flex-grow: 2;
}

p.entry-work-role{
    display: none;
}

span.entry-time-period{
    font-weight: bold;
    align-self: flex-end;
    text-align: justify;
}

ul.entry-desc{
    width: 70%;
    margin-top: 0.5em;
    text-align: justify;
}


/*Tablet*/
@media screen and (min-width: 600px){

}


/*Desktop*/
@media screen and (min-width: 768px){
    p.entry-work-role{
        display: contents;
        margin-top: 0;
    }
}