/*General*/

.entry-content > li{
    margin: 0.1em 0;
}

.entry-title{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.entry-name{
    font-weight: bold;
    margin-right: 0.4em;
}

span.entry-location{
    flex-grow: 2;
}

p.entry-work-role{
    margin-top: 0;
}

span.entry-time-period{
    font-weight: bold;
    align-self: flex-end;
}

ul.entry-desc{
    width: 50vw;
    padding-left: 3.5%;
}


/*Tablet*/
@media screen and (min-width: 600px){

}


/*Desktop*/
@media screen and (min-width: 768px){

}