/*Global rules*/
html{
    height: 100%; 
    background-color: #f1f1f1;

    color: #181818;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    box-sizing: border-box;
}

/*This allows all elements to inherit the alternative box model declared in the html rule*/
*, *::before, *::after {
    box-sizing: inherit;
}

.root{
    padding: 2.5vw 2.5vw;
}


/*Element rules*/
h1{
    margin: 0.5vw;
    text-align: center;
}

a{
    line-height:normal;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

header{
    grid-column: 3 / 13;
    grid-row: 1;
    height: fit-content;
}

footer{
    grid-column: 1 / 13;
    grid-row: 3;
    font-size: 0.45em;
    text-align: center;
}

ul {
    margin-left: 2em; 
    padding-left: 0;
}

hr{
    margin: 0;
}


/*General rules*/
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 4vw;
}

.main-subheading{
    margin: 0.5vw;
    font-weight: 300;
    text-align: center;
}

.main-content{
    grid-column: 3 / 13;
    grid-row: 2;
}

ul.section-list{
    margin-top: 0;
}


/*Entry rules*/
.entry-content > li{
    margin: 0.1em 0;
}

.entry-name{
    font-weight: bold;
}

.entry-work-role{
    margin: 0;
}

.entry-time-period-mobile{
    display: none;
}

@media (max-width: 768px){
    .html{
        font-size: 0.5em;
    }

    .entry-time-period{
        display: none;
    }

    .entry-time-period{
        font-size: smaller;
        float: none;
        font-weight: 300;
    }

    .entry-work-role{
        display: none;
    }

    .entry-time-period-mobile{
        display: contents;
        font-weight: bold;
    }
}

.entry-time-period{
    font-weight: bold;
    float: right;
}

ul.entry-desc{
    width: 50vw;
    padding-left: 3.5%;
}


/*Section rules*/
.section-title{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.subsection {
    font-weight: bold;
}


/*Sidebar rules*/
.sidebar{
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
}

.sidebar-inner{
    position: sticky;
    top: 2.5vw;
    min-width: 100%;
}

.sidebar-nav{
    width: 100%;
    text-align: left;
}

.sidebar-title{
    font-weight: bold;
    font-size: 1.8vw;
    margin-top: 1em;
    margin-bottom: 0;
}

.sidebar-nav {
    margin: 0;
}

.sidebar-link{
    display: inline-block;
    font-size: 1vw;
    background-color: #f1f1f1;
    color: #181818;
    text-decoration: none;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #181818;
    margin: 0.2vw 0;
    border-right-width: 4px;
    border-bottom-width: 4px;
}

.sidebar-link:hover{
    background-color: #181818;
    color: #f1f1f1;
    border-right-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}

.sidebar-link-wrapper:hover{
    border-color: #181818;
}

.headshot{
    width: 100%;
    border-radius: 3px; 
}

.sidebar-hr{
    margin-bottom: 1vw;
}

nav{
    margin: 0.5vw;
    font-weight: 300;
    text-align: center;
}