html{
    height: 100%; 
    background-color: #f1f1f1;

    color: #181818;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    box-sizing: border-box;
}

.entry-content > li{
    margin: 0.1em 0;
}

.section-title{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5em;
}

a{
    line-height:normal;
}

h1{
    margin: 0.5vw;
    font-weight: bold;
    min-width: fit-content;
    text-align: center;
}

.main-subheading{
    margin: 0.5vw;
    font-weight: 300;
    text-align: center;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

.root{
    padding: 2.5vw 2.5vw;
}

.subsection {
    font-weight: bold;
}

nav{
    margin: 0.5vw;
    font-weight: 300;
    text-align: center;
}

.entry-time-period{
    font-weight: bold;
    float: right;
}

.entry-name{
    font-weight: bold;
}

.work-role{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 4vw;
}

.main-content{
    grid-column: 3 / 13;
    grid-row: 2;
}

header{
    grid-column: 3 / 13;
    grid-row: 1;
    height: fit-content;
}

.sidebar{
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
}

.sidebar-inner{
    position: sticky;
    top: 2.5vw;
}

.sidebar-nav{
    width: 100%;
    text-align: left;
}

.sidebar-nav .sidebar-title{
    font-weight: bold;
    font-size: 1.3vw;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.sidebar-nav .sidebar-links{
    line-height: 10%;
    padding-left: 0em;
    margin: 0;
    list-style: none;
}

.sidebar-links > li:before{
    content: ">";
    padding-right: 0.25em;
}

.sidebar-links > li{
    margin: 0.25em;
    font-size: 1vw;
}

.headshot{
    width: 100%;
    border-radius: 3px; 
}

ul.entry-desc{
    width: 50vw;
    padding-left: 3.5%;
}

.entry-time-period{
    text-align: right;
}

ul.section-list{
    margin-top: 0;
}

footer{
    grid-column: 1 / 13;
    grid-row: 3;
    text-align: center;
}