html{
    height: 100%; 
    background-color: #f1f1f1;

    color: #181818;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    padding-left: 50px;
    padding-right: 50px; 

    /*line-height: 18px;*/
}

li{
    margin: 10px 0;
    font-size: 16px;
    max-width: 80%;
}

a{
    line-height:normal;
}

h1{
    margin: 5px;
    font-weight: bold;
    min-width: fit-content;
    text-align: center;
}

.main-subheading{
    margin: 5px;
    font-weight: 300;
    text-align: center;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

.root{
    padding-top: 50px;
    padding-bottom: 50px;
}

.subsection {
    font-weight: bold;
}

nav{
    margin: 5px;
    font-weight: 300;
    text-align: center;
}

.entry-time-period{
    font-weight: bold;
    float: right;
}

.name{
    font-weight: bold;
}

.work-role{
    margin: 0;
    font-size: 14px;
}

.container{
    display: grid;
    grid-template-areas: 
        "a b"
        "c d"
        "e e";
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.main-content{
    grid-area: d;
}

header{
    grid-area: b;
    height: fit-content;
}

aside{
    grid-area: c;
}

footer{
    grid-area: e;
    font-size: 10px;
    text-align: center;
}

#headshot{
    grid-area: a;
    width: 130px;
    border-radius: 3px;
}

